---
export const prerender = true
---
<div class="dark:bg-black dark:text-white h-screen">
  <main class="mx-auto max-w-6xl w-full">
    <p class="p-4">Examples with simulated latency of 150ms </p>
  	<div class="flex flex-col px-4">
        <a class="text-blue-600" href="/uncached">uncached</a>
        <a class="text-blue-600" href="/cached/kv">global cache</a>
        <a class="text-blue-600" href="/cached/cache-api">local cache</a>
        <a class="text-blue-600" href="/cached/streaming/kv">global cache + streaming</a>
        <a class="text-blue-600" href="/cached/streaming/cache-api">local cache + streaming</a>
     </div>
  </main>
</div>

